<!DOCTYPE html>
<html ng-app="msi">
<head>
  <title>My Stream Interest</title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="./app/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
</head>
<body class="center-block" ng-controller="MainCtrl" ng-keydown="keypress($event)">
<div id="main-container">
  <h1>My Stream Interest</h1>
  <div>
    See how much of your stream is actually interesting to you. Login below to get started.
  </div>
  <div class="login-buttons center-block ng-cloak">
    <div ng-if="!user">
      <button class="btn btn-default btn-block btn-lg button-twitter third-party-button" ng-click="login('twitter')">
        <i class="fa fa-twitter margin-right-medium"></i> Twitter
      </button>
      <br />
      <button class="btn btn-default btn-block btn-lg button-facebook third-party-button" ng-click="login('facebook')">
        <i class="fa fa-facebook margin-right-medium"></i> Facebook
      </button>
    </div>
    <div ng-if="user">
      <h3>Switch to: </h3>
      <button class="btn btn-default btn-block button-twitter third-party-button" ng-click="logout(); login('twitter')" ng-if="user.provider === 'facebook'">
        <i class="fa fa-twitter margin-right-medium"></i> Twitter
      </button>
      <br />
      <button class="btn btn-default btn-block button-facebook third-party-button" ng-click="logout(); login('facebook')" ng-if="user.provider === 'twitter'">
        <i class="fa fa-facebook margin-right-medium"></i> Facebook
      </button>
    </div>
  </div>
  <div class="ng-cloak">
    <div class="stream">
      <h2>Your {{user.provider === 'facebook' ? 'Facebook' : user.provider === 'twitter' ? 'Twitter' : ''}} stream is {{interestPercent}}% interesting to you...</h2>
      <div ng-if="stream.length" class="stream-container">
        <i ng-show="currentPostIndex > 0" class="fa fa-arrow-left nav-arrow nav-arrow-left" ng-click="currentPostIndex = currentPostIndex - 1"></i>
        <i ng-show="currentPostIndex < stream.length - 1" class="fa fa-arrow-right nav-arrow nav-arrow-right" ng-click="currentPostIndex = currentPostIndex + 1"></i>
        <div msi-post="stream[currentPostIndex]"></div>
      </div>
    </div>
  </div>
  <button class="btn btn-success" ng-click="getStream()">Get Stream</button>
  <button class="btn btn-danger" ng-click="logout()">Logout</button>
</div>

<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
<script src="https://cdn.firebase.com/js/simple-login/1.2.0/firebase-simple-login.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

<script src="./app/vendor/bindonce.js"></script>

<script src="./app/app.js"></script>
<script src="./app/main/MainCtrl.js"></script>
<script src="./app/services/LoginService.js"></script>
<script src="./app/post/post.js"></script>

</body>
</html>