<div class="post-container center-block">
  <button class="not-interesting btn btn-danger btn-lg margin-right-20" ng-click="post.rating=0;post.rated=true">Not interesting</button>
  <span class="rating-stars"><rating value="post.rating" max="5"></rating></span>
  <button class="way-interesting btn btn-success btn-lg margin-left-20" ng-click="post.rating=5">WAY interesting</button>

  <div class="post panel panel-default">
    <div class="post-meta panel-heading">
      <a ng-href="{{post.author.url}}">
        <img ng-src="{{post.author.profilePicture.url}}" class="profile-picture img-circle">
      </a>
      <div class="post-info">
        <a ng-href="{{post.author.url}}">
          <strong class="post-user">{{post.author.name}}</strong>
        </a>
        <span ng-if="post.url && post.author.name">-</span> <small ng-if="post.url"><a ng-href="{{post.url}}">{{post.modified | date:'short'}}</a></small>
      </div>
    </div>
    <div class="post-content panel-body">
      <div>{{post.content.text}}</div>
      <div class="post-media">
        <a ng-if="post.content.img.url" ng-href="{{post.content.url}}">
          <img class="post-image" ng-src="{{post.content.img.url}}">
        </a>
      </div>
      <div>{{post.content.name}}</div>
      <a ng-if="post.content.img.caption" ng-href="{{post.content.url}}">{{post.content.img.caption}}</a>
      <div>{{post.content.description}}</div>
    </div>
  </div>
</div>
