body {
  max-width: 800px;
}

#main-container {
}

.stream {
  padding: 30px;
}

.login-buttons {
  width: 200px;
}

.color-facebook {
  color: #3b5998
}

.color-twitter {
  color: #4099ff
}

.background-color-facebook {
  background-color: #3b5998
}

.color-twitter {
  background-color: #4099ff
}

.third-party-button {
  color: #fff;
  font-size: 30px
}

.button-facebook {
  background-color: #3b5998
}

.button-facebook:hover {
  color: #3b5998
}

.button-twitter {
  background-color: #4099ff
}

.button-twitter:hover {
  color: #4099ff
}

.stream-container {
  position: relative;
}

.nav-arrow {
  position: absolute;
  font-size: 40px;
  cursor: pointer;
}

.nav-arrow-left {
  left: 0;
}

.nav-arrow-right {
  right: 0;
}

/*
 * Post styles
 */
.post-container {
  width: 600px;
}
.post-container .not-interesting {
  margin-right:33px;
  vertical-align: top;
}

.post-container .way-interesting {
  margin-left:33px;
  vertical-align: top;
}

.post-container .rating-stars {
  font-size: 40px;
  color: #FFD700;
}

.post {
  width: 600px;
}
.post .post-meta {
  height: 80px;
  position: relative;
}

.post .post-meta .profile-picture {
  padding: 6px;
  position: absolute;
}

.post .post-meta .post-info {
  margin-left: 64px;
  display: inline-block;
  padding: 6px;
}

.post .post-meta .post-info .post-user {
  font-size: 120%;
}

.post .post-content {
  overflow: hidden;
}

.post .post-content .post-image {
  display: block;
  max-width: 570px;
}

.post a {
  cursor: pointer;
}

.post .share-post {
  height: 40px;
}
